.movie-card {
  margin: 0 0.8rem;
  color: white;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  min-height: 400px;
  max-width: 280px;
  max-height: 400px;
  position: relative;
  overflow: hidden;

  .poster-container {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    z-index: 0;
    border-radius: 10px;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        135deg,
        rgba(255, 94, 0, 0.15),
        rgba(255, 223, 100, 0.08),
        rgba(255, 215, 0, 0.15)
      );
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;
      z-index: 2; // nằm trên ảnh, dưới nội dung nếu cần
    }
    &:hover::after {
      opacity: 1;
    }

    .poster {
      width: 100%;
      height: 100%;
      min-height: 450px;
      display: block;
      object-fit: cover;
    }

    .badges {
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: flex;
      gap: 6px;

      .badge {
        background-color: #2ecc71;
        padding: 2px 6px;
        font-size: 0.75rem;
        border-radius: 4px;
        font-weight: bold;
      }

      .badge.sub {
        background-color: #9b59b6;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  // ✂️ Cắt góc trái (index chẵn)
  &.cut-left {
    .poster-container {
      clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 5px solid #ffe44d;
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
        z-index: 1;
        pointer-events: none;
      }
    }
  }

  &.cut-right {
    .poster-container {
      clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 5px solid #ffe44d;
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
        z-index: 1;
        pointer-events: none;
      }
    }
  }

  .info {
    display: flex;
    align-items: flex-start;
    margin-top: 0.6rem;

    .rank {
      font-size: 1.8rem;
      font-weight: bold;
      color: #ffe44d;
      margin-right: 0.6rem;
    }

    .titles {
      .title {
        max-width: 250px;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 2px;
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .meta {
        font-size: 0.75rem;
        color: #bbb;
      }
    }
  }
}
