.listItemWrapper {
  position: relative;
  width: 225px;
  height: 120px;
  margin-right: 5px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }

  &:hover .listItem {
    width: 325px;
    height: 300px;
    top: -150px;
    left: -40px;
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    z-index: 999;
    pointer-events: auto;

    iframe {
      width: 100%;
    }

    img {
      height: 140px;
    }

    .itemInfo {
      display: flex;
      flex-direction: column;
      padding: 5px;
      pointer-events: auto;

      .icons {
        display: flex;
        margin-bottom: 10px;

        .icon {
          border: 2px solid white;
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 16px;
        }
      }

      .itemInfoTop {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        color: gray;

        .limit {
          border: 1px solid gray;
          padding: 1px 3px;
          margin: 0 10px;
        }
      }

      .desc {
        font-size: 13px;
        margin-bottom: 10px;
      }

      .genre {
        font-size: 14px;
        color: lightgray;
      }
    }
  }
}

.listItem {
  width: 225px;
  height: 120px;
  background-color: var(--main-color);
  margin-right: 5px;
  overflow: hidden;
  color: white;
  transition: all 0.5s ease;
  position: absolute;
  pointer-events: none;
}

.list {
  width: 100%;
  margin-top: 10px;
  margin-left: 1rem;

  .listTitle {
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
  }

  .wrapper {
    position: relative;
    overflow: visible;

    .sliderArrow {
      width: 50px;
      height: 100%;
      background-color: rgb(29, 28, 28, 0.5);
      color: white;
      position: absolute;
      z-index: 99;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;
      pointer-events: auto;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }

    .container {
      margin-top: 10px;
      margin-left: 50px;
      display: flex;
      width: max-content;
      transition: all 1s ease;
      overflow: visible;
    }
  }
}
