.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 100%),
        url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg");
    background-size: cover;
    position: relative;

    /* Thêm hiệu ứng mờ cho background */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        filter: blur(50px);
        /* Điều chỉnh giá trị blur theo ý muốn */
        z-index: -1;
    }

    .top {
        z-index: 1;

        .wrapper {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                font-size: 60px;
                color: red;
                font-weight: 700;
                font-family: Tahoma;
                width: 7%;
            }
        }
    }

    .container {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;

        form {
            border-radius: 5px;
            z-index: 200;
            width: 400px;
            height: 450px;
            padding: 28px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            backdrop-filter: blur(100px);
            background-color: rgba(255, 255, 255, 0.15);

            h1 {
                text-align: center;
                font-family: "Tahoma", sans-serif;
                margin-top: 0px;
            }

            input {
                font-size: 15px;
                height: 40px;
                border-radius: 5px;
                background-color: gray;
                color: white;
                padding-left: 10px;

                &::placeholder {
                    color: lightgray;
                }
            }

            button {
                height: 40px;
                border-radius: 5px;
                background-color: red;
                color: white;
                border: none;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
            }

            .sign-up-now {
                text-align: center;
            }

            span {
                color: lightgray;

                b {
                    color: white;
                    cursor: pointer;

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
}