.navbar {
  color: white;
  font-size: 14px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.1) 50%);
  transition: background-color 1s;

  &.scrolled {
    background-color: var(--main-color);
  }

  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;

      span {
        margin-right: 20px;
        cursor: pointer;
      }

      img {
        margin-right: 40px;
        height: 60px;
        width: 60px;
      }
    }

    .right {
      display: flex;
      align-items: center;

      .icon {
        margin: 0px 15px;
        cursor: pointer;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
        }

        span {
          padding: 10px;
          cursor: pointer;
        }

        .icon {
          transition: transform 0.5s;
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }

          .icon {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}