.movie-list {
  padding: 2rem 1rem;
  position: relative;

  h2 {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: white;
  }

  .scroll-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .scroll-btn {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    border-color: white;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &.left {
      margin-left: 0rem;
    }

    &.right {
      margin-right: 0rem;
    }
  }

  .movie-scroll {
    flex: 1;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 1.2rem;
    padding: 0.5rem 0;
    margin: 0 0rem;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    // Snap các thẻ phim
    .movie-card {
      scroll-snap-align: start;
      flex-shrink: 0;
    }
  }
}
