.featured {
  height: 90vh;
  position: relative;

  .category {
    position: absolute;
    top: 80px;
    left: 80px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;

    select {
      cursor: pointer;
      background-color: var(--main-color);
      border: 1px solid white;
      color: white;
      margin-left: 20px;
      padding: 5px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
    pointer-events: none;
  }

  .info {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: white;
    font-size: large;
    display: flex;
    flex-direction: column;
    font-family: Tahoma;
    font-weight: 500;
    z-index: 988;
    opacity: 0;
    transform: translateX(-110px);
    animation: fadeDown 0.5s ease-out forwards;

    @keyframes fadeDown {
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    img {
      width: 400px;
    }

    .desc {
      margin: 20px 0;
      max-height: 100px;
      /* Có thể điều chỉnh theo line-height */
      background-color: transparent;
      overflow: hidden;
      display: -webkit-box;
      /* Áp dụng line-clamp */
      -webkit-line-clamp: 4;
      /* Giới hạn số dòng */
      -webkit-box-orient: vertical;
      /* Hiển thị theo chiều dọc */
      text-overflow: ellipsis;
      /* Thêm dấu "..." khi cắt nội dung */
      line-height: 1.4;
    }

    .buttons {
      display: flex;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        margin-right: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover{
          transform: scale(1.1);
          opacity: 0.8;
        }
        &:active{
          transform: scale(0.9);
        }
        &.play {
          background-color: white;
          color: var(--main-color);
        }

        &.more {
          background-color: gray;
          color: white;
        }

        span {
          margin-left: 5px;
        }
      }
    }
  }

  .thumbnail-carousel {
    position: absolute;
    bottom: 30px;
    right: 50px;
    display: flex;
    gap: 10px;
    overflow-x: visible;
    padding: 10px 0;
    max-width: 80%;
    scroll-snap-type: x mandatory;
    z-index: 990;

    &::-webkit-scrollbar {
      display: none;
    }

    img {
      width: 80px;
      height: 40px;
      border-radius: 6px;
      object-fit: cover;
      cursor: pointer;
      scroll-snap-align: start;
      border: 2px solid transparent;
      transition: 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

}

.film-info-container {
  position: relative;
  display: flex;
}