* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  padding-bottom: 20px;
  overflow-x: hidden;
  background-color: var(--main-color);
}

:root {
  --main-color: #0b0b0b;
}

.link {
  color: inherit;
  text-decoration: none;
}
