.list {
  width: 100%;
  margin-top: 10px;
  margin-left: 1rem;
  .listTitle {
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
  }

  .wrapper {
    position: relative;

    .sliderArrow {
      width: 50px;
      height: 100%;
      background-color: rgb(29, 28, 28, 0.5);
      color: white;
      position: absolute;
      z-index: 99;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }

    .container {
      margin-top: 10px;
      margin-left: 50px;
      display: flex;
      width: max-content;
      transition: all 1s ease;
    }
  }
}
