.register {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 100%),
        url("https://www.notebookcheck.biz/fileadmin/Notebooks/News/_nc3/netflixteaser.png");
    background-size: cover;

    position: relative;

    .top {
        .wrapper {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 1;

            .logo {
                font-size: 60px;
                color: red;
                font-weight: 700;
                font-family: Tahoma;
            }

            .loginButton {
                background-color: red;
                border: none;
                color: white;
                border-radius: 5px;
                padding: 5px 15px;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                z-index: 2;
                height: 40px;
                width: 100px;

                &:hover {
                    transform: scale(1.1);
                    transition: 0.5s ease-in;
                }
            }
        }
    }

    .container {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;

        .intro {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 100vh;

            h1 {
                text-align: center;
                max-width: 800px;
                display: flex;
                justify-items: center;
                align-content: center;
                align-items: center;
                justify-content: center;
                font-size: 60px;
                font-family: "Tahoma", sans-serif;
                font-weight: 900;
            }

            h2 {
                margin: 20px;
            }

            p {
                font-size: 20px;
            }
        }

        .input {
            width: 40%;
            background-color: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 90px;
            height: 50px;
            border-radius: 60px;

            input {
                position: none;
                background-color: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(10px);
                flex: 9;
                height: 100%;
                padding: 0 10px;
                font-size: 20px;
                font-weight: 500;
                border-radius: 20px;
                margin-right: 40px;
                color: white;
            }

            .registerButton {
                flex: 3;
                height: 100%;
                background-color: red;
                border: none;
                color: white;
                font-size: 20px;
                cursor: pointer;
                border-radius: 50px;

                &:hover {
                    transform: scale(1.05);
                    transition: 0.1s ease-in;
                }
            }
        }
    }
}